.App {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background: rgb(8, 11, 8);
    margin: -10px -10px -10px -10px;
    width: 110%;
    height: 70px;
    display: flex;
    align-items: center;
}

.currensyBoxHeader {
    color: rgb(255, 255, 255);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    width: auto;
    height: 20px;
    position: relative;
    left: 50px;
    margin: 0 25px 0 25px;
}
.nameHeader {
    color: rgb(255, 255, 255);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    margin-left: 200px;
    margin-bottom: 16.5px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#convertButton {
    padding: 10.2px;
    margin-left: 5px;
    border: 2px dashed black;
    background:rgb(255, 255, 255);
    cursor: pointer;
}

#convertButton:hover {
    background: rgba(139, 133, 133, 0.752);
}

#changeArrow {
    font-size: 30px;
    margin: 6px 20px 6.5px 20px;
    padding: 0px 7px 0px 7px;
    background: white;
    border: none;
}